<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/product.css">
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>

            <main>
                <% if (cartItems.length > 0) { %>
                    <div class="total_price__bar">
                        <p>TotalPrice: <%= totalPrice %></p>
                    </div>
                    <hr>
                    <div class="grid">
                        <% for (let element of cartItems) { %>
                            <article class="card product-item">
                                <header class="card__header">
                                    <h1 class="product__title">
                                        <%= element.details.title %>
                                    </h1>
                                </header>
                                <div class="card__image">
                                    <img src="<%= element.details.imageUrl %>" alt="<%= element.details.title %>">
                                </div>
                                <div class="card__content">
                                    <h2 class="product__price">
                                        ₹<%= element.details.price %>
                                    </h2>
                                    <p class="product__description">
                                        <%= element.details.description %>
                                    </p>
                                    <h2 class="product__price">
                                        Qty: <%= element.quantity %>
                                    </h2>
                                    
                                </div>
                                <div class="card__actions">
                                    <form action="/delete-from-cart" method="POST">
                                        <input type="hidden" name="productId" value="<%= element.productId %>">
                                        <button class="btn" type="submit">Delete</button>
                                    </form>
                                </div>
                            </article>
                            <% } %>
                        </div>
                        <hr>
                        <div class="centered">
                            <form action="/create-order" method="POST">
                                <button class="btn" type="submit">Order Now</button>
                            </form>
                        </div>
                <% } else { %>
                    <h1>Cart is Empty!</h1>
                <% } %>
                
            </main>
            <%- include('../includes/end.ejs') %>