<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/product.css">
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>

            <main>
                <div class="total_price__bar">
                    <p>TotalPrice: <%= totalPrice %></p>
                </div>
                <% if (cart.length > 0) { %>
                    <div class="grid">
                        <% for (let element of cart) { %>
                            <article class="card product-item">
                                <header class="card__header">
                                    <h1 class="product__title">
                                        <%= element.title %>
                                    </h1>
                                </header>
                                <div class="card__image">
                                    <img src="<%= element.imageUrl %>" alt="<%= element.title %>">
                                </div>
                                <div class="card__content">
                                    <h2 class="product__price">
                                        ₹<%= element.price %>
                                    </h2>
                                    <p class="product__description">
                                        <%= element.description %>
                                    </p>
                                    <h2 class="product__price">
                                        Qty: <%= element.cartItem.quantity %>
                                    </h2>
                                    
                                </div>
                                <div class="card__actions">
                                    <form action="/delete-from-cart" method="POST">
                                        <input type="hidden" name="productId" value="<%= element.id %>">
                                        <button class="btn" type="submit">Delete</button>
                                    </form>
                                </div>
                            </article>
                        <% } %>
                    </div>
                <% } else { %>
                    <h1>Cart is Empty!</h1>
                <% } %>
                
            </main>
            <%- include('../includes/end.ejs') %>